.body{
  font-size: 20px;
}
.welcome{
    position: absolute;
    left: 22%;
    top: 18%;
    width: 50%;
    text-align:center; 
}
.welcome h3{
  margin-top: 2%;
  margin-bottom: 3%;
}
.welcome p{
  margin: 0; 
  width: 90%; 
  position: absolute;
}
.navbar{
    margin-top:19px;
}
.form {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-zone {
    display: flex;
    margin: auto;
  width: 50%;
  position: absolute;
  top: 45%;
  left: 25%;
  height: 100%;
}
.Foot{
    bottom: 0;
    top: auto;
    height: 9%;
}
.box{
    margin: auto;
}
.psw{
    margin: auto;
    width: min-content;
}
.submit{
    position: absolute;
    top: 110%;
}
.drop-zone {
    
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #a1abf3;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }




  .output{
      position: absolute;
      
      left: 90%;
      margin: auto;
      text-align: center;
  }