<link rel="stylesheet" href="{{url_for('static', filename='style/nav.css')}}" />
<nav class="navbar">
	<a class="nav-logo" href="/">
		<img src="static/media/logo.svg" height="42" alt="Logo" />
		<li style="text-decoration: none; display: inline-block">Secure It</li>
	</a>
	<ul class="navbar-items">
		<li class="navbar-item">
			<a class="navbar-link" href="/">Acceuil</a>
		</li>
		<li class="navbar-item">
			<a class="navbar-link" href="/#Services">Services</a>
		</li>
		<li class="navbar-item">
			<a class="navbar-link" href="/#about"> A propos</a>
		</li>
	</ul>
</nav>
